{% load static %}
{% load l10n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <link rel="shortcut icon" type="image/png" href="{% static 'image/icon.png' %}">
  <title>Les tables</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"> 
  

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script type="text/javascript" src="{% static 'js/main10.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main11.js'%}"></script>
  <script>
    var USER_email = "{{user.email}}";
    var USER_last_name = "{{user.last_name}}";
    var USER_first_name = "{{user.first_name}}";
    var userProfilePic = "{{user.profile_pic.url}}";
  </script>
</head>

<body onload="load()">
  {% if user.is_authenticated  and "ai" in user.role %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    
    <div class="d-flex align-items-center justify-content-between logo_with_button" >
      <a href="{% url 'main_page' %}"  class="logo d-flex align-items-center">
        <!--<img src="{% static 'image\default_user_avatar.png' %}" alt="">-->
        
        <img src="{% static 'image\logo.png' %}" alt="" >
      </a>
      <i class="bi bi-list toggle-sidebar-btn " id="click_side_bar"></i>
    </div><!-- End Logo -->


    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
            <img src="{{ user.profile_pic.url }}"  alt="Image">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }} {{ user.last_name }} </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <span></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar =================================================================================================================================================================== -->
  <!-- ======= Sidebar =================================================================================================================================================================== -->

  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'be_home_page' %}">
          <i class="bi bi-grid"></i>
          <span>Accueil</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'be' %}">
          <i class="bi bi-table"></i>
          <span>Les tables</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'bef' %}">
          <i class="ri-file-add-line"></i>
          <span>Ajouter un client</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>
  </aside><!-- End Sidebar-->
  <!-- End Sidebar ==========================================================================================================================-->


  <!-- main Page ========================================================================================================================================     -->
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Ajouter un client</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'be_home_page' %}">Accueil</a></li>
          <li class="breadcrumb-item active">Les tables</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div style="display:;">
    <form id="fileUploadForm" enctype="multipart/form-data" method="POST" >
      {% csrf_token %}
      <input type="file" id="fileInput" name="fileInput" style="display:none" multiple>
      <input type="text" name="file_id" id="file_id" style="display:none">
      <input type="text" name="column" id="column" style="display:none">
      <button id="submit_add_file_to_model" type="submit" style="display:none"></button>
    </form>

  </div>
    <div class="pagetitle">
      <h1></h1>
      
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!--  ======================================================== start table 1 ===============================================================  -->
        <!--  ======================================================== start table 1 ===============================================================  -->
        <!--  ======================================================== start table 1 ===============================================================  -->
        <!--  ======================================================== start table 1 ===============================================================  -->
        <!--  ======================================================== start table 1 ===============================================================  -->

        
        {% for k  in table_index %}
        <div class="row">
          
          <div class="col-12">
            <div class="card recent-sales">
              <!--<div class="reduce_div">
                <button class="reduce_table_size" type="button" style="width:40px;height:40px;"><i class=" ri-arrow-down-s-line fa-3x" ></i></butoon>
              </div>-->

              <div class="card-body">
                <h5 class="card-title">État | <span class="badge" data-badge="{{k.state}}"> {{k.state}}</span> </h5>


                <input class="form-control" type="text" id="filterInput_{{ k.index }}" placeholder="Search..." style="width:30%;min-width:100px;">
                <div class="overflow-auto" style="padding:1px;">
                
                <form method="post"  enctype="multipart/form-data" id="myForm">
                  {% csrf_token %}
                  <input type="hidden" name="myid{{ k.index }}" id="myid{{ k.index }}">
                  <input type="hidden" name="col_type{{ k.index }}" id="col_type{{ k.index }}">
                  <input type="hidden" name="mybutton{{ k.index }}" id="mybutton{{ k.index }}">
                      
                  <table class="table  table-hover  table-bordered  table-borderless border-info fixed-header-table"  id="tableDATA_{{k.index}}" cellspacing="0" >  <!-- table-sm  table-responsive-->

                      <thead class="table-dark border-info ">
                        <th class="fixed-column" ></th>
                        <th onclick="sortTable('tableDATA_1',1)">Nom</th> 
                        <th onclick="sortTable('tableDATA_1',2)">Prénom</th>  
                        <th onclick="sortTable('tableDATA_1',3)">Adresse</th> 
                        <th onclick="sortTable('tableDATA_1',4)">N° de tél</th>
                        <th onclick="sortTable('tableDATA_1',5)">E-mail</th> 
                        <th colspan=2>Visite technique</th> 
                        <th colspan=2>Audit v1</th> 
                        <th colspan=2>Audit v2</th> 
                        <th colspan=2>Audit v3</th> 
                        <th colspan=2>Audit fin</th> 
                        <th onclick="sortTable('tableDATA_1',16)">Précarite</th> 
                        <th>Commentaire</th>
                        <th onclick="sortTable('tableDATA_1',18 , 1)">Date de création</th>
                        <th onclick="sortTable('tableDATA_1',19)">id</th> 
                        {% if k.state == "Fini"  %}
                          <th></th> 
                        {% endif %}
                      </thead>
                      <tbody id="myTable_{{k.index}}">
                        {% for item in data %}
                          {% if item.etat in k.state_2 and item.bureau_d_etude == user.com_name and item.be %}
                            <input class="input_table_data" type="hidden" name="cell_data0" id="table1_hidden_id{{item.cell_id}}" value="{{item.cell_id}}">
                            
                            <tr id="tr_{{ item.cell_id }}">
                              <td class="fixed-column table-secondary"><button  class="button_table_data" onclick="submitForm__02('{{item.cell_id}}','1','{{redirect_next_page}}','send_data','SF_BE')" type="button" id="table{{k.index}}_edit_col" name="button_edit_data_on_table" value="{{item.cell_id}}" ><i class="ri-checkbox-circle-fill fa-2x color_green " id="i_for_edit_button"></i></button></td>
                              <td class="td_input_cell" ><input class="input_table_data" type="text" name="table_firstname_{{ item.cell_id }}" id="table{{k.index}}_firstname{{ item.cell_id }}" value="{{ item.firstname }}" ></td>
                              <td class="td_input_cell"><input class="input_table_data" type="text" name="table_lastname_{{ item.cell_id }}" id="table{{k.index}}_lastname{{ item.cell_id }}" value="{{ item.lastname }}"  ></td>
                              <td class="td_input_cell"><input class="input_table_data" type="text" name="table_address_{{ item.cell_id }}" id="table{{k.index}}_address{{ item.cell_id }}" value="{{ item.address }}"  ></td>
                              <td class="td_input_cell"><input class="input_table_data" type="text" name="table_num_{{ item.cell_id }}" id="table{{k.index}}_num{{ item.cell_id }}" value="{{ item.num }}"  ></td>  
                              <td class="td_input_cell"><input class="input_table_data" type="text" name="table_email_{{ item.cell_id }}" id="table{{k.index}}_email{{ item.cell_id }}" value="{{ item.email }}"  ></td>  


                              {% for auV in VisiteTechnique %}
                                <td class="td_input_cell td_input_file_cell"> <!-- {{ auV.name }}-->
                                  <a  class="OPEN_popUP_files_icon" onclick="OPEN_popUP_files('files_popup_{{ auV.name }}_{{item.cell_id}}')">
                                    <i class="ri-file-list-3-line"><span class="table_span_calc_files" id="table_span_{{ auV.name }}_{{item.cell_id}}" >0</span></i>
                                  </a>

                                  <div class="files_popup " id="files_popup_{{ auV.name }}_{{item.cell_id}}">
                                    <div class="row_files_popup fp_top">
                                      <p class="top_popup_title" >Fichiers: {{ auV.name }}</p>
                                      <button type="button" class="btn-close top_popup_close_btn "  aria-label="Close" onclick="CLOSE_popUP_files('files_popup_{{ auV.name }}_{{item.cell_id}}')"></button>
                                    </div>

                                    <div class="row_files_popup files_popup_content" id="fp_container_{{ auV.name }}_{{item.cell_id}}">
                                      {% for F in auV.datafiles_AuditV %}
                                        {% if F.file_id == item.cell_id %}
                                          <div class="row_files_popup files_popup_content_si" id="li_for_{{ auV.name }}_{{item.cell_id}}_{{F.file_index}}">
                                              <script>
                                                add_1_to_i_files_box("table_span_{{ auV.name }}_{{ item.cell_id }}");
                                              </script>
                                            <div class="fpcs_side_left">
                                              {% if F.file_format == "excel" %}
                                              <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-excel-2-line fp_icon" ></i></a>
                                              {% elif F.file_format == "pdf" %}
                                              <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-pdf fp_icon" ></i></a>
                                              {% elif F.file_format == "image" %}
                                                <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><img src="{{ F.file_save.url }}" alt="Image" ></a>
                                              {% elif F.file_format == "word" %}
                                                <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-word fp_icon" ></i></a>
                                              {% elif F.file_format == "pz2" %}
                                                <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><i class="bi bi-file-ppt fp_icon" ></i></a>
                                              {% else %}
                                                <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-line fp_icon" ></i></a>
                                              {% endif %}
                                            </div>
                                              
                                            <p class="fpcs_center">{{ F.file_name }}</p>
                                                
                                            <div class="list-inline-item fpcs_side_right">
                                              <button  class="button_table_data" type="button" id="" name="" value="" onclick="remove_file_from_m('{{item.cell_id}}','{{F.file_index}}','{{ auV.name }}','{{redirect_next_page}}','li_for_{{ auV.name }}_{{item.cell_id}}_{{F.file_index}}')">
                                                <i class="ri-delete-bin-2-fill fp_btn_icon" style="color:red;"></i>
                                              </button>
                                            </div>
                                          </div>
                                          
                                        {% endif %}
                                      {% endfor %}
                                      
                                    </div>
                                    <div class="row_files_popup">
                                      <input class="input_table_data" type="file" name="table_{{ auV.name }}_{{ item.cell_id }}" multiple>
                                      <input type="hidden" name="mybutton{{k.index}}{{ item.cell_id }}" id="mybutton{{k.index}}{{ item.cell_id }}">
                                      <a  class="button_table_data fp_btn" onclick="submitForm__02('{{item.cell_id}}','1','{{redirect_next_page}}','send_data','SF_BE')" type="button" id="table{{k.index}}_edit_col" name="button_edit_data_on_table" value="{{item.cell_id}}" >                                            
                                        <i class="bi bi-save2 save_button_i_style  "style="font-size: 2em!important;" ></i>
                                      </a>
                                    </div>

                                    
                                  </div>
                                
                                </td>
                              {% endfor %}
                              <td>
                                <a href="{% url 'download_K_file' file_id=item.cell_id %}" class="button_table_data" style="color:green;"><i class="bi bi-filetype-xlsx fa-2x"></i></a>
                              </td> 

                              {% for auV in auditV %}
                                <td class="td_input_cell td_input_file_cell"> <!-- {{ auV.name }}-->
                                  <a  class="OPEN_popUP_files_icon" onclick="OPEN_popUP_files('files_popup_{{ auV.name }}_{{item.cell_id}}')">
                                    <i class="ri-file-list-3-line"><span class="table_span_calc_files" id="table_span_{{ auV.name }}_{{item.cell_id}}" >0</span></i>
                                  </a>

                                  <div class="files_popup " id="files_popup_{{ auV.name }}_{{item.cell_id}}">
                                    <div class="row_files_popup fp_top">
                                      <p class="top_popup_title" >Fichiers: {{ auV.name }}</p>
                                      <button type="button" class="btn-close top_popup_close_btn "  aria-label="Close" onclick="CLOSE_popUP_files('files_popup_{{ auV.name }}_{{item.cell_id}}')"></button>
                                    </div>

                                    <div class="row_files_popup files_popup_content" id="fp_container_{{ auV.name }}_{{item.cell_id}}">
                                      {% for F in auV.datafiles_AuditV %}
                                        {% if F.file_id == item.cell_id %}
                                          <div class="row_files_popup files_popup_content_si" id="li_for_{{ auV.name }}_{{item.cell_id}}_{{F.file_index}}">
                                              <script>
                                                add_1_to_i_files_box("table_span_{{ auV.name }}_{{ item.cell_id }}");
                                              </script>
                                            <div class="fpcs_side_left">
                                              {% if F.file_format == "excel" %}
                                              <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-excel-2-line fp_icon" ></i></a>
                                              {% elif F.file_format == "pdf" %}
                                              <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-pdf fp_icon" ></i></a>
                                              {% elif F.file_format == "image" %}
                                                <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><img src="{{ F.file_save.url }}" alt="Image" ></a>
                                              {% elif F.file_format == "word" %}
                                                <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-word fp_icon" ></i></a>
                                              {% elif F.file_format == "pz2" %}
                                                <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><i class="bi bi-file-ppt fp_icon" ></i></a>
                                              {% else %}
                                                <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-line fp_icon" ></i></a>
                                              {% endif %}
                                            </div>
                                              
                                            <p class="fpcs_center">{{ F.file_name }}</p>
                                                
                                            <div class="list-inline-item fpcs_side_right">
                                              <button  class="button_table_data" type="button" id="" name="" value="" onclick="remove_file_from_m('{{item.cell_id}}','{{F.file_index}}','{{ auV.name }}','{{redirect_next_page}}','li_for_{{ auV.name }}_{{item.cell_id}}_{{F.file_index}}')">
                                                <i class="ri-delete-bin-2-fill fp_btn_icon" style="color:red;"></i>
                                              </button>
                                            </div>
                                          </div>
                                          
                                        {% endif %}
                                      {% endfor %}
                                      
                                    </div>
                                    <div class="row_files_popup">
                                      <input class="input_table_data" type="file" name="table_{{ auV.name }}_{{ item.cell_id }}" multiple>
                                      <input type="hidden" name="mybutton{{k.index}}{{ item.cell_id }}" id="mybutton{{k.index}}{{ item.cell_id }}">
                                      <a  class="button_table_data fp_btn" onclick="submitForm__02('{{item.cell_id}}','1','{{redirect_next_page}}','send_data','SF_BE')" type="button" id="table{{k.index}}_edit_col" name="button_edit_data_on_table" value="{{item.cell_id}}" >                                            
                                        <i class="bi bi-save2 save_button_i_style  "style="font-size: 2em!important;" ></i>
                                      </a>
                                    </div>

                                    
                                  </div>
                                
                                </td>
                                <td class="td_input_cell"><!--commentaire-->

                                  <a  class="OPEN_popUP_chat_icon" onclick="OPEN_popUP_chat('chat_popup_{{ auV.name }}_{{item.cell_id}}','{{ auV.name }}','{{item.cell_id}}')">
                                    <i class="bi bi-chat-left-text"><span class="OPEN_popUP_chat_span" id="chat_span_noti_{{ auV.name }}_{{item.cell_id}}" >0</span></i>
                                  </a>

                                  
                                  <div class="chat_popup" id="chat_popup_{{ auV.name }}_{{item.cell_id}}">
                                    <div class="row_files_popup fp_top">
                                      <p class="top_popup_title" >Commentaire: {{ auV.name }}</p>
                                      <button type="button" class="btn-close top_popup_close_btn"  aria-label="Close" onclick="CLOSE_popUP_chat('chat_popup_{{ auV.name }}_{{item.cell_id}}','{{ auV.name }}','{{item.cell_id}}')"></button>
                                    </div>

                                    <div class="row_chat_popup">
                                        <hr class="dropdown-divider">
                                    </div>
                                    <div class="row_chat_popup chat_popup_content" id="chat-messages-container_{{ auV.name }}_{{item.cell_id}}">
                                      {% for msg in message_box_1 reversed %}
                                        {% if item.cell_id == msg.row_id and msg.box ==  auV.name  %}
                                          {% if user.email not in msg.user_Vue %}
                                            <script>
                                              add_1_to_i_chat_box_noti("chat_span_noti_{{ auV.name }}_{{ item.cell_id }}");
                                            </script>
                                          {% endif %}
                                          <div class="message-item row_chat_popup chat_popup_content_si"{% if user.email not in msg.user_Vue %}style="background-color: rgba(28, 97, 107, 0.9);" {% endif %}>

                                            <div class="chat_popup_content_si_header">
                                              <div class="row_chat_popup">
                                              {% if msg.email %}  
                                                <img src="{{ msg.profile_pic.url }}" alt="Image" class="rounded-circle">  <!-- alt="image.title"-->
                                              {% else %}
                                                <img src="{% static 'image/default_user_avatar.png' %}" alt="Image" class="rounded-circle">
                                              {% endif %}
                                              </div>
                                              <div class="row_chat_popup">
                                                <h3>{{ msg.username }}</h3>
                                              </div>
                                            </div>
                                            <div class="column_chat_popup">
                                              <div class="row_chat_popup">
                                                {% if msg_box_tagged.1 in msg.message %}
                                                          <p class="color-red">{{ msg.message }}</p>
                                                {% else %}
                                                  {% if msg_box_tagged.2 in msg.message %}
                                                      <p class="color-red chat_popup_content_para">{{ msg.message }} </p>
                                                  {% else %}
                                                    {% if msg_box_tagged.3 in msg.message %}
                                                      <p class="color-red chat_popup_content_para">{{ msg.message }}</p>
                                                    {% else %}
                                                      <p class="chat_popup_content_para">{{ msg.message }}</p>
                                                    {% endif%}
                                                  {% endif%}
                                                {% endif%}

                                              </div>
                                              
                                            </div>
                                            <p class="chat_popup_content_si_timer">{{ msg.message_date|naturaltime }}</p>
                                          </div>

                                        {% endif %}
                                      {% endfor %}
                                    </div>

                                    <div class="row_chat_popup">
                                      <input type="text" name="input_msg_{{ auV.name }}_{{item.cell_id}}" id="input_msg_{{ auV.name }}_{{item.cell_id}}" style="width:90%;" onkeydown="preventSubmit(event,'{{item.cell_id}}','1','{{redirect_next_page}}','{{ auV.name }}')">
                                      <button class="popUP_chat_send_btn style_none_border  style_background_transparent" type="button" id="send_msg_1" onclick="sendMessage('{{item.cell_id}}','1','{{redirect_next_page}}','{{ auV.name }}')" > 
                                        <i class="bi bi-send popUP_chat_send_btn_icon " ></i></button>
                                  </div>
                                  </div>
                                    
                                </td>

                              {% endfor %}
                              

                              <td class="td_p_dateTime_cell2"><p>{{ item.precaite}} </p></td>

                              
                              {% for auV in commentaire %}
                                <td class="td_input_cell"><!--commentaire-->

                                  <a  class="OPEN_popUP_chat_icon" onclick="OPEN_popUP_chat('chat_popup_{{ auV.name }}_{{item.cell_id}}','{{ auV.name }}','{{item.cell_id}}')">
                                    <i class="bi bi-chat-left-text"><span class="OPEN_popUP_chat_span" id="chat_span_noti_{{ auV.name }}_{{item.cell_id}}" >0</span></i>
                                  </a>

                                  
                                  <div class="chat_popup" id="chat_popup_{{ auV.name }}_{{item.cell_id}}">
                                    <div class="row_files_popup fp_top">
                                      <p class="top_popup_title" >Commentaire</p>
                                      <button type="button" class="btn-close top_popup_close_btn"  aria-label="Close" onclick="CLOSE_popUP_chat('chat_popup_{{ auV.name }}_{{item.cell_id}}','{{ auV.name }}','{{item.cell_id}}')"></button>
                                    </div>

                                    <div class="row_chat_popup">
                                        <hr class="dropdown-divider">
                                    </div>
                                    <div class="row_chat_popup chat_popup_content" id="chat-messages-container_{{ auV.name }}_{{item.cell_id}}">
                                      {% for msg in message_box_1 reversed %}
                                        {% if item.cell_id == msg.row_id and msg.box ==  auV.name  %}
                                          {% if user.email not in msg.user_Vue %}
                                            <script>
                                              add_1_to_i_chat_box_noti("chat_span_noti_{{ auV.name }}_{{ item.cell_id }}");
                                            </script>
                                          {% endif %}
                                          <div class="message-item row_chat_popup chat_popup_content_si"{% if user.email not in msg.user_Vue %}style="background-color: rgba(28, 97, 107, 0.9);" {% endif %}>

                                            <div class="chat_popup_content_si_header">
                                              <div class="row_chat_popup">
                                              {% if msg.email %}  
                                                <img src="{{ msg.profile_pic.url }}" alt="Image" class="rounded-circle">  <!-- alt="image.title"-->
                                              {% else %}
                                                <img src="{% static 'image/default_user_avatar.png' %}" alt="Image" class="rounded-circle">
                                              {% endif %}
                                              </div>
                                              <div class="row_chat_popup">
                                                <h3>{{ msg.username }}</h3>
                                              </div>
                                            </div>
                                            <div class="column_chat_popup">
                                              <div class="row_chat_popup">
                                                {% if msg_box_tagged.1 in msg.message %}
                                                          <p class="color-red">{{ msg.message }}</p>
                                                {% else %}
                                                  {% if msg_box_tagged.2 in msg.message %}
                                                      <p class="color-red chat_popup_content_para">{{ msg.message }} </p>
                                                  {% else %}
                                                    {% if msg_box_tagged.3 in msg.message %}
                                                      <p class="color-red chat_popup_content_para">{{ msg.message }}</p>
                                                    {% else %}
                                                      <p class="chat_popup_content_para">{{ msg.message }}</p>
                                                    {% endif%}
                                                  {% endif%}
                                                {% endif%}

                                              </div>
                                              
                                            </div>
                                            <p class="chat_popup_content_si_timer">{{ msg.message_date|naturaltime }}</p>
                                          </div>

                                        {% endif %}
                                      {% endfor %}
                                    </div>

                                    <div class="row_chat_popup">
                                      <input type="text" name="input_msg_{{ auV.name }}_{{item.cell_id}}" id="input_msg_{{ auV.name }}_{{item.cell_id}}" style="width:90%;" onkeydown="preventSubmit(event,'{{item.cell_id}}','1','{{redirect_next_page}}','{{ auV.name }}')">
                                      <button class="popUP_chat_send_btn style_none_border  style_background_transparent" type="button" id="send_msg_1" onclick="sendMessage('{{item.cell_id}}','1','{{redirect_next_page}}','{{ auV.name }}')" > 
                                        <i class="bi bi-send popUP_chat_send_btn_icon " ></i></button>
                                  </div>
                                  </div>
                                    
                                </td>
                              {% endfor %}

                              <td class="td_p_dateTime_cell2"><p>{{ item.creation_time|date:_("d m Y H:i") }} </p></td>
                              <td ><p style="width:auto;">{{ item.cell_id }}</p></td>

                              {% if k.state == "Fini"  %}
                                <td><button  class="button_table_data" type="button" onclick="etat_a_modif('{{ item.cell_id }}')"  ><i class="ri-checkbox-circle-fill fa-2x color_green "></i></button></td> 
                              {% endif %}
                              

                            </tr>

                          {% endif %}
                        {% endfor %}
                      </tbody>
                      
                  </table>
                  <!--{} form.as_p -->
                  <!--<button class="btn ri-add-fill"></button>-->
                  
              </form>
              
            </div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



              </div>
            </div>
          </div><!-- End Recent Sales -->
        </div>
        {% endfor %}
        <!--  ======================================================== end table 1 ===============================================================  -->
        <!--  ======================================================== end table 1 ===============================================================  -->
        <!--  ======================================================== end table 1 ===============================================================  -->


        
          
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% else %}
  <script>
    window.location.href = "{% url 'not_logged_in' %}";
  </script>

  {% endif %}

 
  
  
  <script type="text/javascript" src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main2.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main3.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main4.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main5.js'%}"></script>

</body>

</html>