{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="shortcut icon" type="image/png" href="{% static 'image/icon.png' %}">
  <title>Créer un compte</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"> 
  

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <script>
    
      
    
    </script>
    
</head>

<body onload="load()">
  {% if user.is_authenticated and "auditeur" in user.role %}
 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">
    
  <div class="d-flex align-items-center justify-content-between logo_with_button" >
    <a href="{% url 'main_page' %}"  class="logo d-flex align-items-center">
      <!--<img src="{% static 'image\default_user_avatar.png' %}" alt="">-->
      
      <img src="{% static 'image\logo.png' %}" alt="" >
    </a>
    <i class="bi bi-list toggle-sidebar-btn " id="click_side_bar"></i>
  </div><!-- End Logo -->


  <!-- <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div> -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{{ user.profile_pic.url }}"  alt="Image">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }} {{ user.last_name }} </span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
            <span></span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/profile/">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/logout/">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->





  <!-- ======= Sidebar =================================================================================================================================================================== -->
  <!-- ======= Sidebar =================================================================================================================================================================== -->

  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'main_page' %}">
          <i class="bi bi-grid"></i>
          <span>Accueil</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#BE_ul" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-add"></i><span>Bureau d'étude</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="BE_ul" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'BE_audit_ALL' %}">
              <i class="bi bi-person-add fa-10x"></i>
              <span>Toutes les colonnes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'BE_audit_BY_A' %}"><!--href="{ % url '' % }"-->
              <i class="bi bi-person-add"></i>
              <span>Par auditeur</span>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#AI_ul" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-add"></i><span>Agent immobilier</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="AI_ul" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'AI_audit_ALL' %}">
              <i class="bi bi-person-add fa-10x"></i>
              <span>Toutes les colonnes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'AI_audit_BY_A' %}"><!--href="{ % url '' % }"-->
              <i class="bi bi-person-add"></i>
              <span>Par auditeur</span>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-add"></i><span>Créer un compte</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'create_acc_for_AI' %}">
              <i class="bi bi-person-add fa-10x"></i>
              <span>Pour l'agent immobilier</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'create_acc_for_BE' %}">
              <i class="bi bi-person-add"></i>
              <span>Pour Bureau d'étude</span>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'files_history' %}">
          <i class="bi bi-file-earmark-x"></i>
          <span>Historique des fichiers</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->
  <!-- End Sidebar ==========================================================================================================================-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Créer un compte pour l'agent immobilier</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Accueil</a></li>
          <li class="breadcrumb-item active">Forms</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="tab_button">

      </br>
      <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 tablinks " id="TAB-1" type="button" onclick="open_form(event, 'tab_id_1')">Ajouter un compte</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 tablinks" id="TAB-2" type="button"  onclick="open_form(event, 'tab_id_2')">Ajouter un agent immobilier</button>
        </li>
        
      </ul>
    </div>
    </br>

    
    {% if acc_state %}
    <script>
      
      alert("Le compte a été créé","");
      
    </script>
    {% endif %}

    <div class="tab_content_onclick" id="tab_id_1">
      
      <section class="section"  >
        <form  enctype="multipart/form-data" method="POST" >
          {% csrf_token %}
        <div class="row" style="margin-left:15%;margin-right:15%;">
          

            <div class="card">
              <div class="card-body">
                <h5 class="card-title"></h5>

                <!-- General Form Elements -->
                <form>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="lastname" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Prénom</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="firstname" required>
                    </div>
                  </div>

                  <!--<div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Adresse</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="address" required>
                    </div>
                  </div>-->
                  
                  <div class="row mb-3">
                      <label for="inputPassword" class="col-sm-2 col-form-label">E-mail</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" required>
                      </div>
                    </div>

                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">N° de tél</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" name="num" required>
                    </div>
                  </div>


                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Agent</label>
                    <div class="col-sm-6">
                      <select class="form-select" aria-label="Default select example" name="agent">
                        <option value=""></option>
                        {% for comp in comp %}
                          {% if comp.ai %}
                            <option value="{{comp.comp_name}}">{{comp.comp_name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  </br>
                  

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary" name="create_acc_button" value="submit">créer un compte</button>
                    </div>
                  </div>

                </form><!-- End General Form Elements -->

              </div>
            

          </div>

          
        </div>
        </form>
      </section>
    </div>

    <div class="tab_content_onclick" id="tab_id_2">
      
      <section class="section"  >
        <form  enctype="multipart/form-data" method="POST" >
          {% csrf_token %}
        <div class="row" style="margin-left:15%;margin-right:15%;">
          

            <div class="card">
              <div class="card-body">
                <h5 class="card-title"></h5>

                <!-- General Form Elements -->
                <form>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="nom" required>
                    </div>
                  </div>


                  

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary" name="add_com" value="submit">Ajouter un agent immobilier</button>
                    </div>
                  </div>

                </form><!-- End General Form Elements -->

              </div>
            

          </div>

          
        </div>
        </form>
      </section>


      <div class="row justify-content-center " style="margin-left:15%;margin-right:15%;">
          <!-- Active Table -->
        <table class="table table-bordered w-auto text-lg-center " >
          <thead class="table-dark ">
            <tr>
              <th scope="col" class="text-lg-center">Agent immobilier</th>

            </tr>
          </thead>
          <tbody class="table-light ">
            {% for comp in comp %}
              {% if comp.ai %}
                <tr>
                  <th scope="row">{{comp.comp_name}}</th>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!-- End Tables without borders -->
      </div>

    </div>
  </main>

  <!-- ======= Footer ======= -->
  {% else %}
      
  <script>
    window.location.href = "{% url 'not_logged_in' %}";
  </script>

  {% endif %}


  
  
  <script type="text/javascript" src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main2.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main3.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main4.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main5.js'%}"></script>
</body>

</html>