{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="shortcut icon" type="image/png" href="{% static 'image/icon.png' %}">
  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link href="{% static 'css/style.css' %}" rel="stylesheet" > 
  

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <script>
    
      
    
    </script>
    
</head>

<body onload="load()">
  {% if user.is_authenticated  and "VT" in user.role %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    
    <div class="d-flex align-items-center justify-content-between logo_with_button" >
      <a href="{% url 'main_page' %}"  class="logo d-flex align-items-center">
        <!--<img src="{% static 'image\default_user_avatar.png' %}" alt="">-->
        
        <img src="{% static 'image\logo.png' %}" alt="" >
      </a>
      
    </div><!-- End Logo -->


    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ user.profile_pic.url }}"  alt="Image">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }} {{ user.last_name }} </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <span></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->





  
  <main id="main2" class="main">

    <div class="pagetitle">
      <h1>Pièce: {{ data.Pieces }}</h1>
      <nav>

        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Accueil</a></li>
          <li class="breadcrumb-item "><a href="{% url 'Kizeo_form_page'  data.kizeo_id %}">Forms</a></li>
          <li class="breadcrumb-item active">Pièce</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
    <input  type="hidden" name="input_value" id="input_value" >
    <button type="submit" name="mybutton1" id="mybutton1" value="mybutton1" style="display:none;"></button>
    </div>


    <section class="section">
      <div class="row" >
          <div class="card" >
            <!-- ================================== -->
            <!-- ================================== -->
            <div class="card-body card-body_formK card-body_facade " >
              <div class="row g-2" >
                <div class="col-md-12">
                  <h5 class="card-title card-title_outside"></h5>
                </div>
              </div>

              <!-- General Form Elements -->
              
              <div class=""  id="" >



                <div class="row g-3">
                  <div class="col-md-3">
                    <label  class="form-label form-label_formK">Photo de la pièce 1:  </label>
                    {% if data.Pieces_image_1 %}
                    <img src="{{ data.Pieces_image_1.url }}"  alt="Image" width="70">
                    {% endif %}
                    <input type="file" id="file-input" name="Pieces_image_1" accept="image/*"> </input>
                  </div>

                  <div class="col-md-3">
                    <label  class="form-label form-label_formK">Photo de la pièce 2:  </label>
                    {% if data.Pieces_image_2 %}
                    <img src="{{ data.Pieces_image_2.url }}"  alt="Image" width="70">
                    {% endif %}
                    <input type="file" id="file-input" name="Pieces_image_2" accept="image/*"> </input>
                  </div>

                  <div class="col-md-3">
                    <label  class="form-label form-label_formK">Photo de la pièce 3:  </label>
                    {% if data.Pieces_image_3 %}
                    <img src="{{ data.Pieces_image_3.url }}"  alt="Image" width="70">
                    {% endif %}
                    <input type="file" id="file-input" name="Pieces_image_3" accept="image/*"> </input>
                  </div>

                  <div class="col-md-3">
                    <label class="col-form-label form-label_formK">Niveau</label>
                    <select class="form-select kizeo_select_box" aria-label="Default select example" name="Niveau">
                      <option value="" {% if data.Niveau  == "" %}selected{% endif %}>...</option>
                      <option value="Sous-sol" {% if data.Niveau  == "Sous-sol" %}selected{% endif %}>Sous-sol</option>
                      <option value="RDJ" {% if data.Niveau  == "RDJ" %}selected{% endif %}>RDJ</option>
                      <option value="RDC" {% if data.Niveau  == "RDC" %}selected{% endif %}>RDC</option>
                      <option value="RDC+1" {% if data.Niveau  == "RDC+1" %}selected{% endif %}>RDC+1</option>
                      <option value="RDC+2" {% if data.Niveau  == "RDC+2" %}selected{% endif %}>RDC+2</option>
                      <option value="RDC+2" {% if data.Niveau  == "RDC+3" %}selected{% endif %}>RDC+3</option>
                      <option value="RDC+3" {% if data.Niveau  == "RDC+4" %}selected{% endif %}>RDC+4</option>
                      <option value="RDC+4" {% if data.Niveau  == "RDC+5" %}selected{% endif %}>RDC+5</option>
                      <option value="RDC+5" {% if data.Niveau  == "RDC+6" %}selected{% endif %}>RDC+6</option>
                      <option value="RDC+6" {% if data.Niveau  == "RDC+7" %}selected{% endif %}>RDC+7</option>
                      <option value="RDC+7" {% if data.Niveau  == "RDC+8" %}selected{% endif %}>RDC+8</option>

                    </select>
                  </div>
                  <hr/>
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">Pièce: </label>
                        <input type="text" class="form-control" name="Pieces" value={{ data.Pieces }}>
                    </div>
                    

                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">Chauffée: </label>
                        <input class="form-check-input" type="checkbox"  name="Chauffage" {% if data.Chauffage %}checked {% endif %} >

                    </div>
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">HSP: </label>
                        <input type="number" class="form-control" name="HSP" value={{ data.HSP|floatformat:"-2" }} step="0.01">
                    </div>


                    <hr/>

                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">Longueur: </label>
                        <input type="number" class="form-control" name="Longueur" value={{ data.Longueur|floatformat:"-2" }} step="0.01">
                    </div>
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">Largeur: </label>
                        <input type="number" class="form-control" name="Largeur" value={{ data.Largeur|floatformat:"-2" }} step="0.01">
                    </div>
                    <!--
                    <div class="col-md-4">
                        <label  class="form-label form-label_formK">Surface: </label>
                        <input type="number" class="form-control" name="Surface" value={{ data.Surface }} step="0.01">
                    </div>
                    -->
                    
                    <hr/>

                    <h5 class="card-title card-title_inside">Si pièce mansardée</h5>
                    <div class="form-check form-switch" style="margin:0px 10px 30px 10px;">
                        <input class="form-check-input" type="checkbox" id="disableDivCheckbox" name="IF_mansardee" {% if data.IF_mansardee %}checked {% endif %} >
                    </div>
                    <div id="myDiv" class="row col-md-12  disable-on-uncheck">
                        <div class="col-md-2" >
                            <label  class="form-label form-label_formK">HSF: </label>
                            <input type="number" class="form-control" name="HSF" value={{ data.HSF|floatformat:"-2" }} step="0.01">
                        </div>
                        <div class="col-md-2">
                            <label  class="form-label form-label_formK">HPP: </label>
                            <input type="number" class="form-control" name="HPP" value={{ data.HPP|floatformat:"-2" }} step="0.01">
                        </div>
                        
                        <div class="col-md-2">
                            <label  class="form-label form-label_formK">LP: </label>
                            <input type="number" class="form-control" name="LP" value={{ data.LP|floatformat:"-2" }} step="0.01">
                            
                        </div>
                        <div class="col-md-2">
                            <label  class="form-label form-label_formK">Srampants 1: </label>
                            <input type="number" class="form-control" name="S_rampants_1" value={{ data.S_rampants_1|floatformat:"-2" }} step="0.01">
                        </div>
                        <div class="col-md-2">
                          <label  class="form-label form-label_formK">Srampants 2: </label>
                          <input type="number" class="form-control" name="S_rampants_2" value={{ data.S_rampants_2|floatformat:"-2" }} step="0.01">
                      </div>
                    </div> 

                    <hr/>

                    <h5 class="card-title card-title_inside">Décrochement</h5>
                    <div class="col-md-4">
                        <label  class="form-label form-label_formK">Longueur: </label>
                        <input type="number" class="form-control" name="Decrochement_Longueur" value={{ data.Decrochement_Longueur|floatformat:"-2" }} step="0.01">
                    </div>
                    <div class="col-md-4">
                        <label  class="form-label form-label_formK">Largeur: </label>
                        <input type="number" class="form-control" name="Decrochement_Largeur" value={{ data.Decrochement_Largeur|floatformat:"-2" }} step="0.01">
                    </div>
                    <div class="col-md-4">
                        <label  class="form-label form-label_formK">Surface: </label>
                        <input type="number" class="form-control" name="Decrochement_Surface" value={{ data.Decrochement_Surface|floatformat:"-2" }} step="0.01">
                    </div>

                    <hr/>

                    <div class="col-md-4">
                        <label  class="form-label form-label_formK">Surface nette (&#x33A1): </label>
                        <input type="number" class="form-control" name="Surface_nette" value={{ data.Surface_nette|floatformat:"-2" }} step="0.01">
                    </div>

                    <hr/>

                    <h5 class="card-title card-title_inside">Menuiseries</h5>
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">F: </label>
                        <input type="text" class="form-control" name="Menuiseries_F" value={{ data.Menuiseries_F }} >
                    </div>
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">L: </label>
                        <input type="number" class="form-control" name="Menuiseries_L" value={{ data.Menuiseries_L|floatformat:"-2" }} step="0.01">
                    </div>
                    
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">H: </label>
                        <input type="number" class="form-control" name="Menuiseries_H" value={{ data.Menuiseries_H|floatformat:"-2" }} step="0.01">
                        
                    </div>
                    <div class="col-md-3">
                        <label  class="form-label form-label_formK">N: </label>
                        <input type="number" class="form-control" name="Menuiseries_N" value={{ data.Menuiseries_N|floatformat:"-2" }}>
                    </div>

                    <hr/>
                    
                </div>
                

              
              <!-- ================================== -->
              <!-- ================================== -->
          </div>
        </div>
      </div>
    </section>



    <div class="text-center">
      <button type="submit" class="btn btn-primary" name="submit_to_Kizeo" value="submit" >Sauvegarder</button>
    </div>

  </form>
  </main>


 
 
  <script>
    const checkbox = document.getElementById('disableDivCheckbox');
    const divToDisable = document.getElementById('myDiv');

    // Function to update the div's style and attributes
    function updateDivState() {
        if (checkbox.checked) {
            divToDisable.style.pointerEvents = 'auto';
            divToDisable.removeAttribute('disabled');
        } else {
            divToDisable.style.pointerEvents = 'none';
            divToDisable.setAttribute('disabled', 'disabled');
        }
    }

    // Initial setup based on checkbox state
    updateDivState();

    // Listen for changes to the checkbox state
    checkbox.addEventListener('change', updateDivState);

  </script>
  <script type="text/javascript" src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main2.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main3.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main4.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main6.js'%}"></script>

   <!-- ======= Footer ======= -->
   {% else %}
      
   <script>
     window.location.href = "{% url 'not_logged_in' %}";
   </script>
 
   {% endif %}
   
</body>

</html>