{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="shortcut icon" type="image/png" href="{% static 'image/icon.png' %}">
  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"> 
  

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">


</head>

<body>

  
  {% if user.is_authenticated  %}

  
  
  {% if "VT" in user.role and "ai" not in user.role and "admin" not in user.role and "staff" not in user.role %}
  <header id="header" class="header fixed-top d-flex align-items-center">
    
    <div class="d-flex align-items-center justify-content-between logo_with_button" >
      <a href="{% url 'main_page' %}"  class="logo d-flex align-items-center">
        <!--<img src="{% static 'image\default_user_avatar.png' %}" alt="">-->
        
        <img src="{% static 'image\logo.png' %}" alt="" >
      </a>
      <i class="bi bi-list toggle-sidebar-btn " id="click_side_bar"></i>
    </div><!-- End Logo -->


    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">


          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ user.profile_pic.url }}" alt="Image" width="45px">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }} {{ user.last_name }} </span>
          </a><!-- End Profile Iamge Icon -->


          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <span></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  

  <!-- main Page ========================================================================================================================================     -->
  <main id="main2" class="main">

  {% else %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    
    <div class="d-flex align-items-center justify-content-between logo_with_button" >
      <a href="{% url 'main_page' %}"  class="logo d-flex align-items-center">
        <!--<img src="{% static 'image\default_user_avatar.png' %}" alt="">-->
        
        <img src="{% static 'image\logo.png' %}" alt="" >
      </a>
    </div><!-- End Logo -->


    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
            <img src="{{ user.profile_pic.url }}" alt="Image" width="45px">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }} {{ user.last_name }} </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <span></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar =================================================================================================================================================================== -->
  <!-- ======= Sidebar =================================================================================================================================================================== -->


  <!-- End Sidebar ==========================================================================================================================-->

  <main id="main3" class="main">
  {% endif %}
    {% if change_password_state %}
    <script>
      
      alert("Votre mot de passe a été changé");
      
    </script>
    {% endif %}
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Accueil</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ user.profile_pic.url }}"  alt="Image">
              <h2>{{ user.first_name }} {{ user.last_name }}</h2>

            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Edit Profile</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <!-- Profile Edit Form -->
                  
                  <form  action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        {% if user.profile_pic %}  
                          <img src="{{ user.profile_pic.url }}" alt="Image" width="100px">  <!-- alt="image.title"-->
                        {% else %}
                          <img src="{% static 'image/default_user_avatar.png' %}" alt="Image" width="100px">
                        {% endif %}
                        
                        <div class="pt-2">
                          <input type="file"  name="my_uploaded_image" accept="image/*" required> 
                        </div>
                        <div class="pt-2">
                          <button type="submit"  class="btn btn-primary btn-sm" value="Submit_Upload_image" name="Submit_Upload_image"><i class="bi bi-upload"></i></button>
                          <button type="submit" class="btn btn-danger btn-sm"  value="remove_profile_image" name="remove_profile_image" formnovalidate ><i class="bi bi-trash"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                  
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                      </div>
                    </div>

                    

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <h5>{{ user.email }}</h5>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">N° de télephone</label>
                      <div class="col-md-8 col-lg-9">
                        <h5>{{ user.num }}</h5>
                      </div>
                    </div>

                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form  enctype="multipart/form-data" method="POST" >
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Ré-entrez le nouveau mot de passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="password" class="form-control" id="renewPassword" name="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" name="change_password" value="submit" >Changer le mot de passe</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>


  

{% else %}
      

  <script>
    window.location.href = "{% url 'not_logged_in' %}";
  </script>
{% endif %}
       



  <!-- Vendor JS Files -->
 
  <script type="text/javascript" src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{% static 'js/main.js'%}"></script>

</body>

</html>