<div class="chat_popup" id="chat_popup_auditV1_{{item.cell_id}}">
                                              
  <div class="row">
    <button type="button" class="btn-close popUP_chat_close_btn" data-bs-dismiss="alert" aria-label="Close" onclick="CLOSE_popUP_chat('chat_popup_auditV1_{{item.cell_id}}')"></button>
  </div>

  <div class="row">
      <input type="text" name="input_msg_auditV1_{{item.cell_id}}" id="input_msg_auditV1_{{item.cell_id}}" style="width:90%;" onkeydown="preventSubmit(event)">
      <button class="style_none_border style_background_transparent" type="button" id="send_msg_1" onclick="sendMessage('{{item.cell_id}}','1','{{redirect_next_page}}','auditV1')" > <i class="bi bi-send" ></i></button>
  </div>

  <div class="row">
      <hr class="dropdown-divider">
  </div>

  <div class="row chat_popup_content" id="chat-messages-container_auditV1_{{item.cell_id}}">
    {% for msg in message_box_1 reversed %}
      {% if item.cell_id == msg.row_id and msg.box == "auditV1" %}
        <div class="message-item row ">

            <div class="column">
              {% if msg.email %}  
                <img src="{{ msg.profile_pic.url }}" alt="Image" width="50" class="rounded-circle">  <!-- alt="image.title"-->
              {% else %}
                <img src="{% static 'image/default_user_avatar.png' %}" alt="Image" class="rounded-circle">
              {% endif %}
            <div>
            <div class="column">
              <h3>{{ msg.username }}</h3>
            <div>
            <div class="column">
              {% if msg_box_tagged.1 in msg.message %}
                        <h4 class="color-red">{{ msg.message }}</h4>
              {% else %}
                {% if msg_box_tagged.2 in msg.message %}
                    <h4 class="color-red">{{ msg.message }} </h4>
                {% else %}
                  {% if msg_box_tagged.3 in msg.message %}
                    <h4 class="color-red">{{ msg.message }}</h4>
                  {% else %}
                    <h4>{{ msg.message }}</h4>
                  {% endif%}
                {% endif%}
              {% endif%}
              
              <p>{{ msg.message_date|naturaltime }}</p>
            </div>
          </a>
        </div>
        <div class="row">
          <hr class="dropdown-divider">
        </div>
      {% endif %}
    {% endfor %}
  </div>