
.td_input_cell .dropdown-menu-for-showFils{height: auto;max-height:700px; padding:10px;}
.container_draw_image {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70px;
  background-color: #202020;
}

#toolbar * {
  margin-bottom: 6px;
}

#toolbar label {
  font-size: 12px;
}

#toolbar input {
  width: 100%;
}

#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 2px;
}

#main2{margin:80px 0px 0px 20px !important;}



.reduce_div button{
  border: none !important;
  background: none !important;
  width:50px !important;
  height:50px !important;
}
.reduce_div{
  padding: 0px;
  margin: 0px;
  margin-bottom: -20px;
}



.form-check-checkbox{
  width:90% !important;
  height:20px !important;
  background-color:red !important;
  border-radius: 25px !important;
}
.form-check-checkbox:checked{
  background-color:green !important;
}


.button_table_data .bi-save2{
  width:50px !important;
  height:50px !important;
}


.fixed-column  {
  position:sticky;
  left: 0;
  z-index: 1;
  text-align: center;
}


.fixed-column2  {
  position:sticky;
  left: 10;
  z-index: 1;
  text-align: center;
}
.fixed-column-backcolor{width:auto;
  --bs-table-color: #fff !important;
  --bs-table-bg: #212529 !important;
  --bs-table-border-color: #4d5154 !important;
  --bs-table-striped-bg: #2c3034 !important;
  --bs-table-striped-color: #fff !important;
  --bs-table-active-bg: #373b3e !important;
  --bs-table-active-color: #fff !important;
  --bs-table-hover-bg: #323539 !important;
  --bs-table-hover-color: #fff !important;
  color: var(--bs-table-color)!important;
  border-color: var(--bs-table-border-color)!important;

  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}
.fixed-column-backcolor .ri-edit-2-fill , .ri-add-circle-line{color:#fff !important;}



.sortable-icon::before {
  content: "\f0dc"; /* Up arrow icon (Font Awesome) */
  margin-left: 5px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.sortable-icon.desc::before {
  content: "\f0de"; /* Down arrow icon (Font Awesome) */
}
.tooltipTrigger .tooltip {
  display: none;
}
.tooltipTrigger:hover {
  cursor: pointer;
}
.tooltipTrigger:hover .tooltip {
  display: inline;
  position: relative; /* relative to .tooltipTrigger */
  left: 10px;
  border: 1px solid #ccc;
}


.card-body{height:auto;
  }


.dropdown-menu-for-showFils {
  background-color: e#fff; /* Background color */
  border: 1px solid #ccc; /* Border */
  height:auto;
  max-height: 80px;
  min-height:40px; /* Max height of the dropdown */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  
  z-index: 1000; /* Ensure the dropdown appears on top */
}

.tableDATA_1,
.tableDATA_2,
.tableDATA_3 {
  max-width: 600px;
  margin: 0 auto;
  
}
#tableDATA_1 tfoot select{
  height: 8px !important;
}

#tableDATA_1,
#tableDATA_2,
#tableDATA_3 ,
#tableDATA_4 ,
#tableDATA_5 ,
#tableDATA_6 ,
#tableDATA_7 ,
#tableDATA_8 ,
#tableDATA_9 {
  margin-bottom: 60px;
}

#tableDATA_1 th, td,
#tableDATA_2 th, td,
#tableDATA_3 th, td,
#tableDATA_4 th, td,
#tableDATA_5 th, td, 
#tableDATA_6 th, td, 
#tableDATA_7 th, td, 
#tableDATA_8 th, td, 
#tableDATA_9 th, td{
  white-space: nowrap;
  
}

#tableDATA_1 td,
#tableDATA_2 td,
#tableDATA_3 td,
#tableDATA_4 td,
#tableDATA_5 td,
#tableDATA_6 td,
#tableDATA_7 td,
#tableDATA_8 td,
#tableDATA_9 td{
  height:100%;
  
}
#tableDATA_1 td select,
#tableDATA_2 td select,
#tableDATA_3 td select,
#tableDATA_4 td select,
#tableDATA_5 td select,
#tableDATA_6 td select,
#tableDATA_7 td select,
#tableDATA_8 td select,
#tableDATA_9 td select{
  height:0px;
   width:100px;
}




.badge-cell select , .badge-cellfoot select  {
  display: none;
  width:50px !important;
}

tr .badge ,tr .badgefoot{
  width:160px;
  text-align:center;
}
/* Style for the badge */
.badge ,.badgefoot,.badge2{
  text-align:center;
  height:100%;
  
  max-width:160px;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
}
.badge-cell select ,.badge-cellfoot select{
  font-size:medium!important;
  width:160px !important;
  text-align:center;
}
/* Style for different badge states */
.badge[data-badge="A realiser"] , .badgefoot[data-badgefoot="A realiser"],
.badge-cell select option[value="A realiser"] , .badge-cellfoot select option[value="A realiser"]{
  font-size:medium;
  background-color: rgb(252, 131, 131) ;
  color: white;
}
.badge[data-badge="En cours"] , .badgefoot[data-badgefoot="En cours"],
.badge-cell select option[value="En cours"] , .badge-cellfoot select option[value="En cours"] {
  font-size:medium;
  background-color: rgb(255, 154, 86);
  color: white;
  
}

.badge[data-badge="A modifier"] , .badgefoot[data-badgefoot="A modifier"],
.badge-cell select option[value="A modifier"] , .badge-cellfoot select option[value="A modifier"]{
  font-size:medium;
  background-color: gray;
  color: white;
}
.badge[data-badge="Modification Faite"] ,.badgefoot[data-badgefoot="Modification Faite"],
.badge-cell select option[value="Modification Faite"] , .badge-cellfoot select option[value="Modification Faite"] {
  font-size:medium;
  background-color: rgb(0, 218, 218);
  color: white;
}

.badge[data-badge="Reclamation"] , .badgefoot[data-badgefoot="Reclamation"],
.badge-cell select option[value="Reclamation"] , .badge-cellfoot select option[value="Reclamation"]{
  font-size:medium;
  background-color: #212529;
  color: white;
}
.badge[data-badge="Reclamation Faite"] , .badgefoot[data-badgefoot="Reclamation Faite"],
.badge-cell select option[value="Reclamation Faite"] , .badge-cellfoot select option[value="Reclamation Faite"]{
  font-size:medium;
  background-color: rgb(8, 196, 55);
  color: white;
}
.badge[data-badge="Envoye"] , .badgefoot[data-badgefoot="Envoye"],
.badge-cell select option[value="Envoye"] ,  .badge-cellfoot select option[value="Envoye"]{
  font-size:medium;
  background-color: purple;
  color: white;
}

.badge[data-badge="Annule"] , .badgefoot[data-badgefoot="Annule"],
.badge-cell select option[value="Annule"] , .badge-cellfoot select option[value="Annule"]{
  font-size:medium;
  background-color: red;
  color: white;
}

.badge[data-badge="Fini"] , .badgefoot[data-badgefoot="Fini"],
.badge-cell select option[value="Fini"] , .badge-cellfoot select option[value="Fini"]{
  font-size:medium;
  background-color: green;
  color: white;
}

.badge2[data-badge="Valide"]{
  font-size:medium;
  background-color: green;
  color: white;
}



/* Show the select element on hover */
.badge-cell:hover select ,.badge-cellfoot:hover select  {
  display: block;
}

/* Hide the badge when the select element is shown */
.badge-cell:hover .badge ,.badge-cellfoot:hover .badgefoot {
  display: none;
}

.td_badge_cell,.td_badge_cell span{
  width:100px;
  font-size:medium;}
.td_input_cell_contain_only_box{width: 20px!important;;}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
 bottom: .5em;
}


:root {
  scroll-behavior: smooth;
}


/* start chat_box_ul_style */
.td_input_cell .header-nav .chat_box_ul_style .dropdown-header{padding-top:-10px!important;}
.td_input_cell .header-nav .chat_box_ul_style .dropdown-header input{
  padding-top:-10px!important;
  border-radius: 10px;
  border:solid 1px #ccc;
}
.td_input_cell .header-nav .chat_box_ul_style .dropdown-header #send_msg_1{color:green;
  font-size: 23px;}
.chat-messages-container_auditV1 li a img ,
.chat-messages-container_auditV2 li a img ,
.chat-messages-container_auditV3 li a img ,
.chat-messages-container_auditV1 li a img {width:50px !important;}
.chat_box_ul_style{width:97%!important;max-width:420px!important; height:auto!important; max-height:500px!important;}
.chat_box_ul_style h3 {font-size: 18px!important;}
/* end chat_box_ul_style */

/*
chat box icoon 
*/
.td_input_cell .header-nav .nav-icon .bi-chat-left-text{color: #0DCAF0;}

.td_input_cell .header-nav  .dropdown-menu-for-showFils{position:absolute!important;margin-left: 100px!important;margin-right: 100px!important;}




/*.td_input_file_cell .header-nav .dropdown-menu-for-showFils .header-nav,
.td_input_file_cell .header-nav .dropdown-menu-for-showFils ul,*/
.td_input_file_cell .header-nav .dropdown-menu-for-showFils {
  
    min-height: 95px!important;
    max-height: 600px!important;
    padding: 20px  10px!important;}

.td_input_file_cell{width:10px;}
/*.td_input_cell .header-nav .dropdown-menu-for-showFils  {font-si ze: 25 px!impo rtant;}*/
.save_button_i_style{height:30px!important;
  width:30px !important;
  color:rgb(1, 71, 81)!important;
  padding:10px!important;}


.td_input_cell .header-nav .dropdown-menu-for-showFils i{font-size: 25px!important;}
.border_none, .input_table_data,.button_table_data,.style_none_border{border: none !important;}
.input_table_data,.button_table_data , .td_input_cell,  .icoon_table_data ,.style_background_transparent{padding:1px; background: transparent !important; }

.td_p_cell2{padding:1px; background: transparent; width:auto; }
.td_p_dateTime_cell2{padding:1px; background: transparent; width:125px !important; }

.formT_div_for_table{padding:1px!important; max-height:600px!important;}



.logo_with_button{width:100px;}

/*  Activities_audit */
.Activities_audit_p{font-size:16px;
  position: relative;
  width: auto;
  max-width: 90%;}
.activity .activity-item .activity-content{
  position: rel ative;
  padding: 0px 10px;
  overflow: hidden;
}

/*  end Activities_audit */


/*  Kizeo form start */
.tab_button_2 ul li {padding:0px 5px;}
.tablinks_K{
  font-weight: bold!important;
  font-size: 20px!important;
  color:white!important;
  background-color: rgb(1, 71, 81)!important;}

.card_for_k_form{width:99%; padding:0px 10px; }
.card_for_k_form section{padding:0px 30px ;}
.tab_button_2{margin: 20px 10px 5px 10px!important;}

.tablinks_K_active_b{color:rgb(1, 71, 81)!important;
  border: 1px solid  rgb(1, 71, 81)!important;
  background: white!important;}
/*  Kizeo form end */

/*  Kizeo form piece start*/
#table_of_piece_add_edit,
#table_of_piece_add_edit tr,
#table_of_piece_add_edit td{
  width:100%;
  padding:10px;
  margin:10px;}
  
#table_of_piece_add_edit tr{border-top: 2px solid rgb(1, 71, 81);
  border-bottom: 2px solid rgb(1, 71, 81);}

/*  Kizeo form piece end*/

.tab_button {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;

  transition: color .15s ease-in-out,background-color .15s ease-in-out;
}
.tab_button button:hover {
  color: #4154f1 !important;
  background: #f6f9ff!important;
}
.tab_button.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
/* Style the buttons inside the tab */
.tab_button button {
  font-weight: bold;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab_button button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_button button.active {
  background-color: #ccc;
}


.tab_content_onclick{display: none;}


.card-body_facade{height:auto !important;max-height:3000px  !important;}
#show_div_1,#show_div_2,#show_div_3,#show_div_4,#show_div_5,
#show_div_6,#show_div_7,#show_div_8,#show_div_9,#show_div_10,
#show_div_11,#show_div_12,#show_div_13,#show_div_14,#show_div_15,
#show_div_16,#show_div_17,#show_div_0{display:none;
  height:auto !important;
  padding-bottom: 15px!important;
}


.kizeo_select_box{width:auto;height:auto !important;}
.card-body_formK{padding:0px;margin:-10px 0px;}
.image-upload>input {
  display: none!important;
}
.card-title_inside{color:red!important;}
.form-label_formK{
  color:rgb(0, 3, 34)!important;
  font-weight: bold!important;}
.card-title_outside{
  color:#4154f1!important;
  font-weight: bold!important;}




.error_404_page_h{color:white!important;}
.error_404_page_a{background-color:rgba(255,255,255,.1)!important;}

/* Initially, the div is not disabled when the checkbox is checked */
#myDiv {
  pointer-events: auto;
}
/*  end Kizeo form */

.color_grade {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(176, 249, 204) , rgb(1, 71, 81));
}
header{background-color: rgb(1, 71, 81)!important;}
.logo_with_button i,.header-nav .align-items-center .dropdown .dropdown-toggle {color: white!important;}

.transparent_white_1{background: rgba(255,255,255, .1)!important;}
.transparent_white_2{background: rgba(255,255,255, .2)!important;}
.transparent_white_3{background: rgba(255,255,255, .3)!important;}
.transparent_white_4{background: rgba(255,255,255, .4)!important;}
.transparent_white_5{background: rgba(255,255,255, .5)!important;}
.transparent_white_6{background: rgba(255,255,255, .6)!important;}
.transparent_white_7{background: rgba(255,255,255, .7)!important;}
.transparent_white_8{background: rgba(255,255,255, .8)!important;}
.transparent_white_9{background: rgba(255,255,255, .9)!important;}


body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}


.add-col-to-table{border: 0;}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main3{margin-top: 60px;
  padding: 20px 40px;
  min-width:300px!important;}
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

.blue_in_header{color:rgb(1, 71, 81);}
.color_blue_2{color:rgb(0, 84, 209)!important;}
.color_blue{color:blue!important;}
.color-red , .color_red {color:red;}
.color-red_important , .color_red_important {color:red!important;}
.color_cyan{color:#0dcaf0;} 
.color_green_important{color:green!important;} 
.color_green{color:green;} 
.color_cyan_important {color:#0dcaf0!important;}
.color_gray_dark{color:rgba(54, 54, 54, 0.733);}
.color_gray_dark_important{color:rgba(54, 54, 54, 0.733)!important;}
.color_gray{color:gray;}
.bg-color-red{background-color:red!important;}
.bg-color-white{background-color:white!important;}



/*--------------------------------------------------------------
# upload_spinner
--------------------------------------------------------------*/
.upload_spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid rgb(1, 71, 81);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed; 
  bottom:0%;
  right:0%;
  z-index: 1000;
}

/*--------------------------------------------------------------
# file_removed_status_box
--------------------------------------------------------------*/
.file_removed_status_box{position: fixed; 
  bottom:0%;
  right:0%;
  z-index: 1000;
  
  padding: 10px;
  margin: 5px;
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color:  rgba(8, 235, 152, 0.3);
  border: 1px solid rgba(4, 170, 109, 0.6);
  border-radius: 7px;}
.file_removed_status_box h4{font-size: 17px;}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
  height:auto;  /*  */  
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}



.sidebar ::-webkit-scrollbar,.section ::-webkit-scrollbar ,::-webkit-scrollbar {
  width: 5px !important;
  height: 8px!important;
  background-color: #fff!important;
}

.sidebar ::-webkit-scrollbar-thumb,.section ::-webkit-scrollbar-thumb ,::-webkit-scrollbar-thumb {
  background-image:linear-gradient(180deg, rgb(1, 71, 81) 0%, rgb(1, 71, 81) 99%) !important;/*linear-gradient(180deg, #d0368a 0%, #708ad4 99%)*/
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5)!important;
  border-radius: 100px!important;
}
@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */

.activity2{padding:10px;}


.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}

.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}